<!DOCTYPE html>
{% load app_tags %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<ul>
    {% if user.is_authenticated %}
        <li><a href="/accounts/logout/">Выход</a></li>
    {% else %}
        <li><a href="/accounts/login/">Вход</a></li>
    {% endif %}
</ul>
    {#{% for_category_list as categories %}#}
    <!--{ for_category_list """count=3 order='id'""" as categories %}-->
        {#{% for category in categories %}#}
       <!--<p><a href="{# {{category.get_absolute_url}}">{{category.name }}</a></p>#}-->
        {# {% endfor %} #}
    {% category_list %}
    <h2>post list below:</h2>
    <hr>
    {% if post_list %} <!--если статьи есть - выполняем цикл ниже-->
        {% for post in post_list %} <!-- post_list используем для вывода разной инфы-->
            <h3><a href="{{ post.get_absolute_url }}"> {{ post.title }}</a></h3>
            <h4>{{ post.mini_text }}</h4>
            <h5>{{ post.published_date }}</h5>
            <small> Всего просмотров: {{ post.viewed }}</small>
            <small> Комментариев {{ post.get_comments_count }}</small>
        {% endfor %}
    {% else %} <!--иначе пишем что статей нет-->
        <h2>No posts here!</h2>
    {% endif %}

</body>
</html>